<div id="post-{{post._id}}" class="post">

    <img src="{{post.createdBy.avatar}}" width="60" height="60" class="avatar">

    <div class="wrapper">

        <div class="title"><a href="/post/{{post.slug}}/{{post._id}}/">{{post.title}}</a></div>

        <div class="description">{{{markdown post.contents}}}</div>

        <div class="info">

            <div class="posted-by">

                {{__ 'Posted by'}}

                {{#if post.createdBy._id}}
                <a href="/profile/{{post.createdBy._id}}/" class="name">{{post.createdBy.name}}</a>
                {{else}}
                <i>{{__ 'deleted'}}</i>
                {{/if}}

                <span class="date">
                    <a href="/post/{{post.slug}}/{{post._id}}/">{{relativeTime post.createdAt}}</a>
                </span>

            </div>

        </div>

    </div>

</div>

<div class="messages">

    {{#each post.messages}}

    {{> message}}

    {{/each}}

</div>

{{#if user}}

{{> message_create}}

{{else}}

<p>You must <a href="/login/">login</a> to respond to this post.</p>

{{/if}}
