<!DOCTYPE html>
<html lang="{{lang}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=0">
<title>{{#if page_title}}{{page_title}} &mdash; {{/if}}{{config.site_name}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="canonical" href="{{url}}">

{{#if description}}
<meta name="description" content="{{limitOutput description 200}}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@trylinear" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{limitOutput description 200}}" />
<meta name="twitter:url" content="{{url}}" />
{{/if}}

</head>

<body>

<header class="page-header">

    <div class="inner-wrapper">

        <div class="logo"><a href="/">{{config.site_name}}</a></div>
        <div class="toggle-navigation"><a href="#navigation">☰</a></div>
        <nav class="navigation">
            <a href="/search/">{{__ 'Search'}}</a>
            {{#if user}}
            <a href="/settings/">{{__ 'Settings'}}</a>
            <a href="/logout/">{{__ 'Logout'}}</a>
            {{else}}
            <a href="/login/">{{__ 'Login / Register'}}</a>
            {{/if}}
        </nav>

    </div>

</header>

<div class="page-content {{style}}">

    <div class="inner-wrapper">

        {{{body}}}

    </div>

</div>

<footer class="page-footer">

    <div class="inner-wrapper">

        <p>{{__ 'Powered by'}} <a href="https://github.com/trylinear/linear">linear</a></p>
        {{#if latestVersion}}
        <p>{{{__ 'A new version (%s) of linear is available. <a href="https://github.com/trylinear/linear/releases">Review the changelog.</a>' latestVersion }}}</p>
        {{/if}}

    </div>

</footer>

<script src="/js/main.min.js" async></script>

{{#if config.ga}}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{config.ga}}', 'auto');
ga('send', 'pageview');
</script>

{{/if}}

</body>
</html>
