<a href="/post/{{slug}}/{{_id}}/" id="post-{{_id}}" class="post-list-item">

    <img src="{{createdBy.avatar}}" width="50" height="50" class="avatar">

    <div class="wrapper">

        <div class="title">{{title}}</div>

        <div class="description">{{limitOutput contents 300}}</div>

        <div class="info">

            <div class="posted-by">

                {{__ 'Posted by'}}

                {{#if createdBy._id}}
                {{createdBy.name}}
                {{else}}
                <i>{{__ 'deleted'}}</i>
                {{/if}}

                &bull;

                <span class="date" title="{{updatedAt}}">
                    {{__ 'updated'}}
                    {{relativeTime updatedAt}}
                </span>

            </div>

            <div class="stats">

                <span class="data-point messages">
                    <span class="octicon octicon-comment"></span> {{messageCount}}
                </span>

                <span class="data-point views">
                    <span class="octicon octicon-eye"></span> {{displayNumber views}}
                </span>

            </div>

        </div>

    </div>

</a>
